///
/// Solid State by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Form */

	form {
		margin: 0 0 _size(element-margin) 0;

		.field {
			margin: 0 0 _size(element-margin) 0;

			label {
				margin-top: _size(element-margin) * -0.75;
			}

			&:first-child {
				label {
					margin-top: 0;
				}
			}
		}

		> :last-child {
			margin-bottom: 0;
		}
	}

	label {
		color: _palette(accent);
		display: block;
		font-family: _font(family-heading);
		font-size: 0.8em;
		font-weight: _font(weight-heading-bold);
		letter-spacing: _font(kern-heading);
		margin: 0 0 (_size(element-margin) * 0.35) 0;
		text-transform: uppercase;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	select,
	textarea {
		@include vendor('appearance', 'none');
		background: _palette(border-bg);
		border-radius: _size(border-radius);
		border: none;
		border: solid 2px transparentize(_palette(accent),0.875);
		color: _palette(accent);
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;

		&:invalid {
			box-shadow: none;
		}

		&:focus {
			border-color: desaturate(lighten(_palette(accent), 6), 3);
		}
	}

	.select-wrapper {
		@include icon;
		display: block;
		position: relative;

		&:before {
			color: _palette(border);
			content: '\f078';
			display: block;
			height: _size(element-height);
			line-height: _size(element-height);
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: _size(element-height);
		}

		select::-ms-expand {
			display: none;
		}
	}

	select {
		option {
			color: _palette(fg-bold);
			background: _palette(bg);
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: _size(element-height);
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"], {
		@include vendor('appearance', 'none');
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;

		& + label {
			@include icon;
			color: _palette(fg);
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-family: _font(family);
			text-transform: none;
			letter-spacing: 0;
			font-weight: _font(weight);
			padding-left: (_size(element-height) * 0.6) + 0.75em;
			padding-right: 0.75em;
			position: relative;

			&:before {
				background: _palette(border-bg);
				border-radius: _size(border-radius);
				border: solid 2px _palette(border);
				content: '';
				display: inline-block;
				height: (_size(element-height) * 0.6);
				left: 0;
				line-height: (_size(element-height) * 0.575);
				position: absolute;
				text-align: center;
				top: 0;
				width: (_size(element-height) * 0.6);
			}
		}

		&:checked + label {
			&:before {
				background: _palette(fg-bold);
				border-color: _palette(fg-bold);
				content: '\f00c';
				color: _palette(bg);
			}
		}

		&:focus + label {
			&:before {
				border-color: _palette(accent);
			}
		}
	}

	input[type="checkbox"] {
		& + label {
			&:before {
				border-radius: _size(border-radius);
			}
		}
	}

	input[type="radio"] {
		& + label {
			&:before {
				border-radius: 100%;
			}
		}
	}

	::-webkit-input-placeholder {
		color: _palette(accent) !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: _palette(accent) !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: _palette(accent) !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: _palette(accent) !important;
		opacity: 1.0;
	}

	.polyfill-placeholder {
		color: _palette(accent) !important;
		opacity: 1.0;
	}