///
/// Solid State by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Banner */

	#banner {
		.inner {
			height: 97vh;
			@include vendor('padding', '16rem 5rem 0');
			text-align: right;
			h2{
				color: #9f4417;
				border-bottom: none;
			}
			a{
				position: relative;
			}
			.shade{
				background: -moz-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.9) 100%);
				background: -webkit-linear-gradient(left, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.9) 100%);
				background: linear-gradient(to right, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.9) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#e6ffffff',GradientType=1 );
				width: 100vw; 
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		ul li{padding-left: 0};
		.produk-1{
			background: url('../images/school-bg.jpg') center no-repeat;
			background-size: cover;
		}
		.produk-2{
			background: url('../images/team-bg.jpg') center no-repeat;
			background-size: cover;
		}
		.produk-3{
			background: url('../images/product-bg.jpg') center no-repeat;
			background-size: cover;
		}
		.logo {
			@include vendor('transition', (
				'opacity 2s ease',
				'transform 1s ease',
			));
			@include vendor('transform', 'translateY(0)');
			opacity: 1;
			margin: 0 0 (_size(element-margin) * 0.65) 0;

			.icon {
				border-radius: 100%;
				border: solid 2px _palette(border);
				cursor: default;
				display: inline-block;
				font-size: 2em;
				height: 2.25em;
				line-height: 2.25em;
				text-align: center;
				width: 2.25em;
			}
		}

		h2 {
			@include vendor('transition', (
				'opacity 0.5s ease',
				'transform 0.5s ease',
				'filter 0.25s ease',
			));
			@include vendor('transform', 'translateX(0)');
			@include vendor('transition-delay', '0.65s');
			@include vendor('filter', 'blur(0)');
			opacity: 1;
			border-bottom: solid 2px _palette(border);
			font-size: 2.25em;
			margin-bottom: _size(element-margin) * 0.4;
			padding-bottom: _size(element-margin) * 0.2;
		}

		p {
			@include vendor('transition', (
				'opacity 0.5s ease',
				'transform 0.5s ease',
				'filter 0.25s ease',
			));
			@include vendor('transform', 'translateX(0)');
			@include vendor('transition-delay', '0.8s');
			@include vendor('filter', 'blur(0)');
			opacity: 1;
			font-family: _font(family-heading);
			font-size: 1em;
			font-weight: _font(weight-heading);
			letter-spacing: _font(kern-heading);
			line-height: 2;
			text-transform: uppercase;
		}

		@include breakpoint(large) {
			padding: 0; 

			background-color:		_palette(bg);

			background-image:		linear-gradient(to top, transparentize(_palette(bg), 0.2), transparentize(_palette(bg), 0.2)),
									url('../../images/bg.jpg');

			background-size:		auto,
									cover;

			background-position:	center,
									center;

		 	margin-bottom: (_size(wrapper-edges, large) * -1);
		 	.inner{
		 		height: 96vh; 
			}
		}

		@include breakpoint(medium) {
			padding:0;

		 	margin-bottom: (_size(wrapper-edges, medium) * -1);

			.inner {
				width: 100%;
				height: 66vh; 
			}
		}

		@include breakpoint(small) {
			padding:0;
		 	margin-bottom: (_size(wrapper-edges, small) * -1);
			.inner{
				@include vendor('padding', '8rem 1rem 0');
				height:98vh;
				a{padding: 0 1.5rem}
			}
			.logo {
				margin: 0 0 (_size(element-margin) * 0.5) 0;

				.icon {
					font-size: 1.5em;
				} 
			}

			h2 {
				font-size: 1.5em;
			}

			p {
				font-size: 0.8em;
			}
		}
		@include breakpoint(xxsmall) {
			.inner{
				height: 62vh;
			}
		}

		body.is-loading & {
			.logo {
				@include vendor('transform', 'translateY(0.5em)');
				opacity: 0;
			}

			h2 {
				opacity: 0;
				@include vendor('transform', 'translateX(0.25em)');
				@include vendor('filter', 'blur(2px)');
			}

			p {
				opacity: 0;
				@include vendor('transform', 'translateX(0.5em)');
				@include vendor('filter', 'blur(2px)');
			}
		}
	}