///
/// Solid State by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Footer */

	#footer {
		background-color:		_palette(footer);
		background-image:		linear-gradient(to top, transparentize(_palette(footer), 0.2), transparentize(_palette(footer), 0.2)),url('../../images/bg.jpg');
		background-size:		auto,cover;
		background-position:	center, center;
		margin-top: -9rem;
		.inner {
			padding :0 0 0 5rem; 
			@include vendor('display', 'flex');
			@include vendor('flex-direction', 'row');
			@include vendor('flex-wrap', 'wrap');
			margin: 0 auto;
			width: 98vw;
			overflow: hidden;
			.address{
				padding-top: 9rem;
			}
			#map {
				background: black;
				opacity: .8;
			}

			.contact {
				color: #d4d4d4;
				a {
					color: #d4d4d4;
					border-bottom: none;
					&:hover{
						color: #fbe7b3 !important;
					}
				}
			}

			.copyright {
				border-top: solid 2px _palette(border);
				list-style: none;
				margin: (_size(element-margin) * 2) 0 _size(element-margin) 0;
				padding: _size(element-margin) 0 0 0;
				width: 100%;

				li {
					border-left: solid 2px _palette(border);
					color: _palette(fg-light);
					display: inline-block;
					font-size: 0.9em;
					line-height: 1;
					margin-left: 1em;
					padding: 0;
					padding-left: 1em;

					&:first-child {
						border-left: 0;
						margin-left: 0;
						padding-left: 0;
					}
				}
			}
			h2.major{
				color: #d4d4d4;
				border-color: transparentize(#d4d4d4, 0.6);
			}
		}

		@include breakpoint(large) {
			
		 	margin-top: (_size(wrapper-edges, large) * -1);
		 	//padding-top: _size(wrapper-edges, large);

		}

		@include breakpoint(medium) {
		 	margin-top: -8rem;
		 	//padding-top: _size(wrapper-edges, medium);
			
			.inner {
				padding: 3rem 0 0;
				display: block;
				width: 100%;
				.address{padding-top: 6.5rem}
				#map{height: 28rem;}
				form {
					width: 100%;
					margin: 0 0 (_size(element-margin) * 2) 0;
				}

				.contact {
					width: 100%;
					margin: 0 0 (_size(element-margin) * 2) 0;
				}

				.copyright {
					margin: (_size(element-margin) * 2) 0 _size(element-margin) 0;
				}
			}
		}

		@include breakpoint(small) {
		 	margin-top: (_size(wrapper-edges, small) * -2);
		 	padding-top: _size(wrapper-edges, small);
			&.indexfooter{
				margin-top: (_size(wrapper-edges, small) * -1);
			}
			.inner {
				padding:0;
				.address{padding-top: 2rem;}
				form {
					margin: 0 0 (_size(element-margin) * 1.5) 0;
				}
				.contact {
					margin: 0 0 (_size(element-margin) * 1.5) 0;
				}
			}
		}

		@include breakpoint(xsmall) {
			.inner {
				padding: 0;
				.address{padding-top: 2rem;}
				.copyright {
					li {
						border-left: 0;
						display: block;
						margin: 1em 0 0 0;
						padding-left: 0;

						&:first-child {
							margin-top: 0;
						}
					}
				}
			}
		}

		@include breakpoint(xxsmall) {
			.inner {
				padding: 0;
				
			}
		}
	}

	section#footermap{
		padding-left: 5rem;
		height: 27rem;
		margin-top: -9rem;
		#map{
			width: 100%;
			height: 100%;
		}
		@include breakpoint(medium){
			padding-left: 0;
		}
	}