
/* Header */

	#header {
		@include vendor('transition', 'background-color #{_duration(transition)} ease-in-out');
		background-color: transparentize(desaturate(lighten(_palette(menu), 3), 1.5), 0.05);
		height: 100vh;
		left: 0;
		line-height: 3.5em;
		position: fixed;
		top: 0;
		width: 5rem;
		border-right: solid 3px white;
		z-index: _misc(z-index-base);
		#nav-icon{
			height: 4.5rem;
			background: #c5561f;
			@include vendor('transition', 'all .5s ease-in-out');
			@include vendor('transform', 'rotate(0deg)');
			cursor: pointer;
			span{
				display: block;
				position: absolute;
				height: 9px;
				width: 3.5rem;
				background: #ffebd5;
				border-radius: 9px;
				opacity: 1;
				left: 10px;
				@include vendor('transform', 'rotate(0deg)');
				@include vendor('transition', 'all .25s ease-in-out');
				&:nth-child(1) {
					top: 13px;
				}
				&:nth-child(2), &:nth-child(3) {
					top: 31px;
				}
				&:nth-child(4) {
					top: 49px;
				}
			}
			&.open{
				span:nth-child(1) {
					top: 18px;
					width: 0%;
					left: 50%;
				}
				span:nth-child(2) {
					@include vendor('transform', 'rotate(45deg)');
				}
				span:nth-child(3) {
					@include vendor('transform', 'rotate(-45deg)');
				}
				span:nth-child(4) {
					top: 18px;
					width: 0%;
					left: 50%;
				} 
			}
		}
		.navlogo{
			border-bottom: none;
			position: absolute;
			bottom: 0;
			left: .5rem;
			opacity: .8;
			img{
				width: 4rem;
			}
			&:hover{
				opacity: 1;
			}
		}
		@include breakpoint(medium){
			height:4rem;
			width: 100vw;
			#nav-icon{
				width: 7rem;
			    height: 5rem;
			    border-radius: 0 0 20px 0;
			    span{
			    	left: 1.8rem;
			    	&:nth-child(1) {
						top: 18px;
					}
					&:nth-child(2), &:nth-child(3) {
						top: 36px;
					}
					&:nth-child(4) {
						top: 53px;
					}
			    }
			}
			.navlogo{
				bottom: -1rem;
				left: initial;
				right: 1rem;
				img{
					width: 3rem;
				}
			}
		}
		@include breakpoint(small){
			height:3rem;
			width: 100vw;
			#nav-icon{
				width: 4.5rem;
				height: 3.5rem;
				border-radius: 0 0 15px 0;
				span{
					left: .7rem;
					height: 6px;
					width: 3rem;
					&:nth-child(1) {
						top: 10px;
					}
					&:nth-child(2), &:nth-child(3) {
						top: 24px;
					}
					&:nth-child(4) {
						top: 38px;
					}
				}
			}
			.navlogo{
				img{
					width: 2.2rem;
				}
			}
		}
	}

		/* @include breakpoint(small) {
			height: 2.75em;
			line-height: 2.75em;
		
			nav {
				top: 0;
				right: 0;
				height: inherit;
				line-height: inherit;
		
				a {
					height: inherit;
					line-height: inherit;
		
					&[href="#menu"] {
						box-shadow: none;
						padding: 0 1em;
						border-radius: 0;
		
						&:hover, &:active {
							background-color: inherit;
						}
					}
				}
			}
		}
		
		@include breakpoint(xsmall) {
			nav {
				a {
					&[href="#menu"] {
						width: 4em;
						white-space: nowrap;
						text-indent: 4em;
						position: relative;
		
						&:before {
							width: inherit;
							position: absolute;
							top: 0;
							left: 0;
							text-indent: 0;
							text-align: right;
							margin-left: 0;
							padding-right: 1.25em;
						}
					}
				}
			}
		}
			} */