///
/// Solid State by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Menu */


	#menu {
		@include vendor('align-items', 'center');
		@include vendor('display', 'flex');
		@include vendor('justify-content', 'center');
		@include vendor('pointer-events', 'none');
		@include vendor('transition', ('opacity #{_duration(menu)} ease', 'visibility #{_duration(menu)}'));
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		background: transparentize(_palette(bg), 0.2);
		cursor: default;
		height: 100%;
		left: 0;
		opacity: 0;
		position: fixed;
		top: 0;
		visibility: hidden;
		width: 100%;
		z-index: 50;

		.inner {
			@include vendor('transform', 'translateX(-1.5em)');
			@include vendor('transition', ('opacity #{_duration(menu)} ease','transform #{_duration(menu)} ease'));
			-webkit-overflow-scrolling: touch;
			background: _palette(menu-inner);
			border-radius: _size(border-radius);
			display: block;
			max-width: 100%;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 5rem;
			width: 80vw;
			height: 100vh;
		}

		h1 {
			background: #f9f3ee;
			color: #999;
			font-size: 2rem;
			line-height: 4.5rem;
			padding-left: 2rem;
		}

		.links {
			list-style: none;
			margin-bottom: (_size(element-margin) - 0.5em);
			padding: 0;

			li {
				padding: 0;

				a {
					border-radius: _size(border-radius);
					border: 0;
					display: block;
					font-family: _font(family-heading);
					font-size: 1.8rem;
					font-weight: _font(weight-bold);
					letter-spacing: _font(kern-heading);
					line-height: 1.85rem;
					padding: 0.75rem;
					color: #943608;
					&:hover {
						background: saturate(darken(_palette(accent), 9), 1.5);
					}
					span{
						text-transform: uppercase;
						font-size: 0.8rem;
						font-weight: _font(weight-heading);
					}
				}
			}
		}
		.menu-footer{
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			line-height: 2.5rem;
			padding: 0 2rem;
			background: #5d2002;
			color: #fff;
			span{
				float: left;
			}
			ul{
				list-style-type: none;
				li{
					float: right;
					a{
						border-radius: 50%;
						border: solid 2px #fff;
						cursor: pointer;
						&:hover{
							background: #dac;
						}
					}
					i{
						width: 1.5rem;
						height: 1.5rem;
						text-align: center;
					}
				}
			}
			&:after{
				content: '';
				clear: both;
			}
		}
		@include breakpoint(medium) {
			.inner{
				left: 0;
				padding-top: 4rem;
			}
			.links li a{
				padding-left: 2.75rem;
			}
			.menu-footer ul li{
				a{font-size: 1.5rem;}
				i{width: 1.8rem;}
			}
		}
		@include breakpoint(small) {
			.inner {
				max-height: 100%;
				overflow-y: auto;
				overflow-x: hidden;
			}
		}
		@include breakpoint(xsmall) {
			.inner{
				width: 100vw;
				padding-top: 3rem;
			}
			.links li a{
				padding-left: 1rem;
				font-size: 1.3rem;
				line-height: 1.3rem;
				span{
					font-size: 0.6rem;
				}
			}
			.menu-footer{
				padding: 0 1rem;
				bottom: initial;
				ul li a{font-size: 1.2rem}
				ul li i{width: 1.3rem;}
			}
		}
		@include breakpoint(xxsmall){
			.menu-footer{
				bottom:0;
			}
		}
	}

	body.is-menu-visible {

		#menu {
			@include vendor('pointer-events', 'auto');
			opacity: 1;
			visibility: visible;

			.inner {
				@include vendor('transform', 'translateX(0)');
				opacity: 1;
			}
		}
	}