///
/// Solid State by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Wrapper */

	/// Sets the colors of the wrapper's top/bottom edges.
	/// @param {string} $color Color.
	@mixin wrapper-edges-color($color: black) {
		&:before, &:after {
			background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon points="0,100 100,0 100,100" style="fill:#{$color};" /></svg>');
		}

		&:before {
			box-shadow: inset 0 -1px 0 0 $color, 0 1px 0 0 $color;
		}

		&:after {
			box-shadow: inset 0 -1px 0 0 $color, 0 1px 0 0 $color;
		}
	}

	#wrapper {
		&:before{
			background: url('../images/topborder.png') top no-repeat;
			background-size: contain; 
			position: absolute;
			width: 100%;
			height: 300px;
			top: 0; 
			content: '';
			z-index: 10;
		}
		> header {
			@include padding(7.5em, 0, (3.5em, 0, _size(wrapper-edges, large) * -0.5, 0));

			.inner {
				margin: 0 2rem 0 auto;
				width: _size(inner);
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 90vh;
				z-index: -5;
			}
			&:after{
				content: '';
				background: -moz-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.9) 100%);
				background: -webkit-linear-gradient(left, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.9) 100%);
				background: linear-gradient(to right, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.9) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#e6ffffff',GradientType=1 );
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 90vh;
				z-index: -4;
			}
			&.about:before{
				background: url('../images/school-bg.jpg') center no-repeat;
				background-size: cover; 
			}
			&.team:before{
				background: url('../images/team-bg.jpg') bottom no-repeat;
				background-size: cover;
				background-position-y: 80%; 
			}
			&.event:before{
				background: url('../images/event-bg.jpg') bottom no-repeat;
				background-size: cover; 
			}
			&.gallery:before{
				background: url('../images/gallery-bg.jpg') center no-repeat;
				background-size: cover;
			}
			&.contact:before{
				background: url('../images/contact-bg.jpg') center no-repeat;
				background-size: cover;
			}
			&.school:before{
				background: url('../images/01-school.jpg') center no-repeat;
				background-size: cover;
			}
			&.research:before{
				background: url('../images/02-riset.jpg') center no-repeat;
				background-size: cover; 
			}
			h2 {
				border-bottom: solid 2px _palette(accent);
				font-size: 2em;
				margin-bottom: _size(element-margin) * 0.4;
				padding-bottom: _size(element-margin) * 0.2;
				color:_palette(accent);
				text-align: right;
			}

			p {
				font-family: _font(family-heading);
				font-size: 1em;
				font-weight: _font(weight-bold);
				letter-spacing: _font(kern-heading);
				line-height: 2;
				text-transform: uppercase;
				color:_palette(accent);
				text-align: right;
			}
		}

		@include breakpoint(large) {
			> header {
				@include padding(5em, 0, (4em, 0, _size(wrapper-edges, large) * 0.5, 0));
				margin-bottom: (_size(wrapper-edges, large) * -1);
			}
		}

		@include breakpoint(medium) {
			&:before{
				top: 51px;
				right: 3px;
				height: 150px;
			}
			> header {
				@include padding(7em, 3em, (4em, 0, _size(wrapper-edges, medium) * 0.5, 0));
				margin-bottom: (_size(wrapper-edges, medium) * -1);
				.inner {
					width: 100%;
				}
				&:before{
					height: 65vh;
				}
			}
		}

		@include breakpoint(small) {
			&:before{
				top: 48px;
				right: 3px;
				height: 90px;
			}
			> header {
				@include padding(3.75em, 2em, (2.75em, 0, _size(wrapper-edges, small) * 0.5, 0));

				background-size:		auto,
										125%;

		 		margin-bottom: (_size(wrapper-edges, small) * -1);

				h2 {
					font-size: 1.25em;
				}

				p {
					font-size: 0.8em;
				}
				&:before{
					height: 73vh;
				}
			}
		}
		@include breakpoint(xsmall){
			> header{
				padding-top: 10.5em;
				&:before{
					height: 91vh; 
				}
			}
		}
		@include breakpoint(xxsmall){
			> header{
				&:before{
					height: 55vh;
				}
			}
		}
	}

	.wrapper {
		background-color: _palette(bg);
		margin: _size(wrapper-edges, large) 0;
		position: relative;
		z-index: 50;
		@include wrapper-edges-color(_palette(bg));

		&:before, &:after {
			background-repeat: no-repeat;
			background-size: 100% 100%;
			content: '';
			display: block;
			height: _size(wrapper-edges, large);
			position: absolute;
			width: 100%;
		}

		&:before {
			left: 0;
			top: (_size(wrapper-edges, large) * -1);
		}

		&:after {
			@include vendor('transform', 'scaleY(-1)');
			bottom: (_size(wrapper-edges, large) * -1);
			left: 0;
		}

		&.alt {
			&:before {
				@include vendor('transform', 'scaleX(-1)');
			}

			&:after {
				@include vendor('transform', 'scaleY(-1) scaleX(-1)');
			}
		}
		&.page-content{
			.inner{
				.major, p, label{
					color : _palette(accent);
				}
				.major{
					border-color: _palette(accent);
				}
				table{
					thead,tbody tr{
						border-color: transparentize(_palette(accent),0.875);
					}
					th,td{
						color: _palette(accent);
					}
				}
				ul.contact{
					color: _palette(accent);
					a {
						color: _palette(accent);
						border-bottom: none;
						&:hover{
							color: transparentize(_palette(accent),0.5) !important;
						}
					}
					li:before{
						border-color: _palette(accent);
					}
				}
			}
		}
		.inner {
			@include padding(3em, 0);
			margin: 0 auto;
			width: _size(inner);
		}

		@for $i from 2 through _misc(max-wrapper-styles) {
			$j: 3 * ($i - 1);
			$color: desaturate(lighten(_palette(bg), $j), $j * 0.5);

			&.style#{$i} {
				background-color: $color;
				@include wrapper-edges-color($color);
			}
		}

		&.spotlight {
			@include wrapper-edges-color(_palette(accent));
			background-color: _palette(accent);

			.inner {
				@include vendor('display', 'flex');
				@include vendor('align-items', 'center');
				@include vendor('flex-direction', 'row');
			}

			.image {
				border-radius: 100%;
				margin: 0 _size(section-spacing, large) _size(element-margin) 0;
				width: 22em;
				overflow: hidden;
				-ms-flex: 1;
				background: white; 
				img {
					border-radius: 100%;
					width: 100%;
				}
			}

			.content {
				width: 100%;
				-ms-flex: 2;
			}

			&:nth-child(2n - 1) {
				.inner {
					@include vendor('flex-direction', 'row-reverse');
					text-align: right;
				}

				.image {
					margin: 0 0 _size(element-margin) _size(section-spacing, large);
				}
			}

			@for $i from 2 through _misc(max-wrapper-styles) {
				$j: 3 * ($i - 1);
				$color: saturate(darken(_palette(accent), $j), $j * 0.5);

				&.style#{$i} {
					background-color: $color;
					@include wrapper-edges-color($color);
				}
			}
			&.feeds{
				background-color: #fff;
				@include wrapper-edges-color(#fff);
				h2{
					color: _palette(accent);
					border-bottom: solid 2px _palette(accent);
				}
			}
		}
		#products{
			margin-left: 5rem;
			background: black;
			.product-1{
				&:before{
					background: url(../images/01-school.jpg) bottom no-repeat;
					background-size: cover;
				}
			}
			.product-2{
				&:before{
					background: url(../images/02-riset.jpg) bottom no-repeat;
					background-size: cover;
				}
			}
			.product-3{
				&:before{
					background: url(../images/03-trak.jpg) bottom no-repeat;
					background-size: cover;
				}
			}
			.product-4{
				&:before{
					background: url(../images/04-janaka.jpg) bottom no-repeat;
					background-size: cover;
				}
			}
			.product-row{
				padding: 3rem 1rem;
				position: relative;
				z-index: 1;
			}
			.product-card{
				padding-top: 1rem;
				h1{
					color: _palette(accent); 
					font-size: 1.8rem;
				}
				p{
					color: _palette(accent); 
					font-weight: _font(weight-bold);
					margin-bottom: 1rem;	
				}
				a.product-link{
					margin-top: 1rem;
					opacity: 0;
					@include vendor('transition', 'all #{_duration(transition)} linear');
				}
			}
			.product-logo{
				height: 12rem;
			}
			.product-banner{
				height: 18rem; 
				cursor: pointer;
				position: relative;
				@include vendor('transition','transform #{_duration(transition)} linear');
				&:nth-child(odd) {
					.product-card{text-align: right;}
					&:after{
						background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 86%);
						background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 86%);
						background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 86%); 
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6ffffff',GradientType=1 );
					}
				}
				&:nth-child(even) {
					.product-card{text-align: left;}
					&:after{
						background: -moz-linear-gradient(left, rgba(255,255,255,0.9) 4%, rgba(255,255,255,0) 100%);
						background: -webkit-linear-gradient(left, rgba(255,255,255,0.9) 4%,rgba(255,255,255,0) 100%);
						background: linear-gradient(to right, rgba(255,255,255,0.9) 4%,rgba(255,255,255,0) 100%); 
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#00ffffff',GradientType=1 );
					}
				}
				&:before, &:after{
					content: '';
					position: absolute;
					top: 0;
					width: 100%;
					height: 100%;	
				}
				&:before{
					@include vendor('transition','background-position 1s linear');
				}
				&:after{
					@include vendor('transition','background #{_duration(transition)} linear');
				}
				&:hover{
					transform: scale(.97);
					.product-card a.product-link{
						opacity: 1;
						margin-top: 0;
					}
					&:before{
						background-position: top;
					}
					&:after{
						background: rgba(255,255,255,0.8);
					}
				}
			}
		}
		p.quotes{
			color: _palette(accent);
			font-style: italic;
		}
		&.team-wrapper{
			.line-row{
				margin-bottom: 4rem;
			}
			.team-card{
				.team-img, .team-img1{
					width: 100%;
					height: 17rem;
					overflow: hidden;
					border-radius: 10px;
					position: relative;
				}
				.team-img1{
					height: 14rem;
				}
				.team-role, .team-role1{
					width: 100%;
					position: absolute;
					top: -2.5rem;
					background: rgba(0,0,0,0.7);
					text-align: center;
					@include vendor('transition', 'top #{_duration(transition)} linear');
				}
				.team-role1{
					font-size: 0.8rem;
					padding: 0.5rem 0;
				}
				ul.team-socmed1{
					list-style: none;
					background: rgba(0,0,0,0.7);
					position: absolute;
					width: 100%;
					margin: 0;
					padding: 0 1rem;
					bottom: -2.5rem;
					@include vendor('transition', 'bottom #{_duration(transition)} linear');
					li{
						float: right;
						a{
							color: rgba(255,255,255,.125);
							font-size: 1.5rem;
							border-bottom: none;
							&:hover{
								color: rgba(255,255,255,1);
							}
						}
					}
					&:after{
						clear: both; 
					}
				}
				&:hover{
					.team-role, .team-role1{
						top:0;
					}
					ul.team-socmed1{
						bottom: 0;
					}
				}
			}
			h3.major{
				border-color: _palette(accent);
			}
		}
		.expand-event{
			position: absolute;
		    bottom: 0;
		    right: 7px;
		    opacity: 0.5;
		    &:hover{
		    	opacity: 1;
		    }
		}
		.event-img{
			height: 20rem;
			overflow: hidden;
			position: relative;
			@include vendor('transition','all 1s linear');
			&.show{
				height: fit-content;
			}
		}
		@include breakpoint(large) {
			.inner{
				width: 53em;
			}
		}
		@include breakpoint(medium) {
			margin: _size(wrapper-edges, medium) 0;

			&:before, &:after {
				height: _size(wrapper-edges, medium);
			}

			&:before {
				top: (_size(wrapper-edges, medium) * -1);
			}

			&:after {
				bottom: (_size(wrapper-edges, medium) * -1);
				left: 0;
			}

			.inner {
				@include padding(3em, 3em);
				width: 100%;
			}

			&.spotlight {
				.image {
					margin: 0 _size(section-spacing, medium) _size(element-margin) 0;
					width: 32em;
				}

				&:nth-child(2n - 1) {
					.image {
						margin: 0 0 _size(element-margin) _size(section-spacing, medium);
					}
				}
			}
			&.team-wrapper{
				.team-card{
					&.other{
					width: 85%;
					margin: 0 auto;
					}
					.team-img1{
						margin-bottom: 1rem;
					}
				}
			}
			
			#products{
				margin-left: 0;
				.product-row{
					padding: 1.5rem .5rem;
				}
				.product-logo{
					height: 10rem;
				}
				.product-banner{
					height: 14rem;
				}
			}
		}

		@include breakpoint(small) {
			margin: _size(wrapper-edges, small) 0;

			&:before, &:after {
				height: _size(wrapper-edges, small);
			}

			&:before {
				top: (_size(wrapper-edges, small) * -1);
			}

			&:after {
				bottom: (_size(wrapper-edges, small) * -1);
				left: 0;
			}

			.inner {
				@include padding(2em, 2em);
			}

			&.spotlight {
				.inner {
					@include vendor('align-items', 'flex-start');
				}

				.image {
					width: 19em;
					margin: 0 _size(section-spacing, small) _size(element-margin) 0;
				}

				&:nth-child(2n - 1) {
					.image {
						margin: 0 0 _size(element-margin) _size(section-spacing, small);
					}
				}
			}
		}

		@include breakpoint(xsmall) {
			&.spotlight {
				.inner {
					display: block;
				}

				.image {
					margin: 0 0 (_size(element-margin) * 0.5) 0 !important;
					max-width: 85%;
					width: 12em;
				}
			}
			#products{
				.product-card{
					h1{
						font-size: 1.3rem;
						line-height: 1.3rem;
					}
					p{
						font-size: 0.8rem;
					}
					a{
						padding: 0 1rem;
					}
				}
				.product-row{
					overflow-x: hidden; 
				}
			}
		}

		@include breakpoint(xxsmall) {
			.inner {
				@include padding(2em, 1.5em);
			}
			#products{
				.product-logo{
					margin-left: -30px;
				}
				.product-banner{
					&:nth-child(even){
						.product-logo{
							margin-left: -70px;
						}
					}
				}
			}
			
			&.page-content .inner{
				table, thead, tbody, th, td, tr { 
					display: block; 
				}
				
				thead tr { 
					position: absolute;
					top: -9999px;
					left: -9999px;
				}
				
				tr { 
					border: 1px solid #ccc;
					margin-bottom: 1rem;
				}
				
				td { 
					border: none;
					border-bottom: 1px solid #eee; 
					position: relative;
					padding-left: 30%; 
				}
				
				td:before { 
					position: absolute;
					top: 6px;
					left: 6px;
					width: 25%; 
					padding-right: 10px;
					font-weight: 600;
					white-space: nowrap;
				}
				
				/*
				Label the data
				*/
				td:nth-of-type(1):before { content: "Tanggal"; }
				td:nth-of-type(2):before { content: "Kegiatan"; }
				td:nth-of-type(3):before { content: ""; }
			}
		}
	}
	@media screen and (min-width: 1200px) {
		.wrapper.spotlight.style1{
				margin-top: -0; 
			}
		
	}
	.event-container{
		width:100%;
	}